* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  padding: 0 5rem;
}

h4 {
  margin-top: 15px;
}

img {
  width: 50%;
  margin-top: 20px;
}
